.navigation{
  & > ul{
    float: left;
    width: 100%;
    & > li{
      float: left;
      a{
        display: inline-block;
      }
      @include onhover{
        z-index: 10;
        & > ul{
          display: block;
        }
      }
    }
  }
  ul{
    li{
      position: relative;
      list-style: none;
      list-style-image: none;
      z-index: 1;
    }
    ul{
      position: absolute;
      display: none;
      ul{
        display: none;
      }
    }
  }
}