@import "compass/css3";

// Colors

$white: #fff;

// Fonts

$sans-serif: Helvetica, Arial, sans-serif;

// Mixins

@mixin nocontent {
  content: '' !important;
  content: none !important;
}

@mixin unbuffer {
  padding: 0 !important;
  margin: 0 !important;
}

@mixin font-basic($size: 12px) {
  font: normal #{$size}/1.5 $sans-serif !important;
  text-transform: none !important;
}

@mixin simple {
  @include unbuffer;
  @include nocontent;
  @include font-basic;
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}