// General Overrides

body{
  .form-item,
  .form-actions,
  .item-list ul,
  .item-list ul li{
    margin: 0;
  }
}

// Admin Menu

body{
  #admin-menu{
    span,
    a{
      @include font-basic(10px);
    }
    li{
      position: static;
    }
  }
}

// Contextual Links

body{
  .block{
    div.contextual-links-wrapper{
      display: none;
      ul,
      li{
        @include simple;
        background: $white;
        list-style: none;
        &:before,
        &:after{
          @include simple;
        }
      }
      a{
        display: block;
        text-decoration: none;
        font: inherit;
      }
    }
    &.contextual-links-region-active{
      outline: 1px dashed #999;
    }
    &:hover div.contextual-links-wrapper,
    &:focus div.contextual-links-wrapper{
      display: block;
    }
  }
}