// Hover shortcut.
@mixin onhover{
  &.hover,
  &:hover,
  &:focus{
    @content;
  }
}

// Style placeholders.
@mixin placeholder($opacity: 1) {
  &.placeholder { @include opacity($opacity); @content; }
  &:-ms-input-placeholder { @include opacity($opacity); @content; }
  &:-moz-placeholder { @include opacity($opacity); @content; }
  &::-moz-placeholder { @include opacity($opacity); @content; }
  &::-webkit-input-placeholder { @include opacity($opacity); @content; }
}

// Style ::selection.
@mixin selection{
  ::selection{ @content; }
  ::-moz-selection{ @content; }
}

// Hides block titles.
%no-title {
  .block-title{
    display: none;
  }
}

// Standard Links.
%stdlink{
  text-decoration: underline;
  @include onhover{
    text-decoration: none;
  }
}

// Reverse Links.
%revlink{
  text-decoration: none;
  @include onhover{
    text-decoration: underline;
  }
}

// More x-browser grayscale filter.
%grayscale {
  @include filter(grayscale(1));
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
}

// Undo the grayscale filter.
%fullcolor {
  @include filter(grayscale(0));
  filter: none;
}

// Hides an element from view, the Drupal way.
%element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
%element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Hides the element but makes it appear on focus. Improves accessibility.
%element-focusable {
  @extend %element-invisible;
  @include onhover{
    @extend %element-invisible-off;
  }
}

// Links within a container.
@mixin linkify($rev: false) {
  a{
    @if $rev == true {
      @extend %revlink;
    }
    @else {
      @extend %stdlink;
    }
  }
}
