.block{
  .contextual-links-trigger{
    text-indent: -9999px;
  }
  .contextual-links-wrapper{
    display: none;
    .contextual-links{
      padding: 2px !important;
      margin: 0 !important;
      list-style: none !important;
      background: #fff;
      li, a{
        margin: 0 !important;
        &:before,
        &:after{
          content: '' !important;
          content: none !important;
        }
      }
      li{
        padding: 0 !important;
        list-style: none !important;
        a{
          padding: 2px 6px;
          display: block;
          font: normal 14px/1.5 Arial, sans-serif;
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
  &.contextual-links-region-active{
    outline: 1px dashed #999;
  }
  &:hover,
  &:focus{
    div.contextual-links-wrapper{
      display: block;
    }
  }
}