// Hides block titles.
@mixin no-title{
  .block-title{
    display: none;
  }
}

// Hides an element from view, the Drupal way.
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Hides the element but makes it appear on focus. Improves accessibility.
@mixin element-focusable {
  @include element-invisible;
  &:active,
  &:focus {
    @include element-invisible-off;
  }
}